In [1]:
#Create dependencies
import pandas as pd
from pathlib import Path

In [2]:
#Find the file we want to summarize
school_data_find = Path("Resources/schools_complete.csv")
student_data_find = Path("Resources/students_complete.csv")

In [3]:
#Read the files and store the data in a panda dataframe
school_data = pd.read_csv(school_data_find)
student_data = pd.read_csv(student_data_find)

In [4]:
#Combine the file into a single set of data
school_data_single = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_single.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
#Calculate the total number of unique schools

school_count = school_data_single["school_name"].nunique()

print(school_count)

15

In [6]:
# Calculate the total number of students

student_count = school_data_single["student_name"].count()
student_count

39170

In [7]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score

average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = school_data_single[(school_data_single["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

passing_reading_count = school_data_single[(school_data_single["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading

passing_math_reading_count = school_data_single[
    (school_data_single["math_score"] >= 70) & (school_data_single["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count],"Total Students":[student_count],"Total Budget":total_budget,
                    "Average Math Score":average_math_score,
                    "Average Reading Score":average_reading_score,"% Passing Math":passing_math_percentage,
                    "% Passing Reading":passing_reading_percentage,"% of Overall Passing":overall_passing_rate})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.6f}".format)
district_summary["% of Overall Passing"] = district_summary["% of Overall Passing"].map("{:,.6f}".format)
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% of Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [14]:
# Use the code provided to select all of the school types

school_types= school_data["type"].nunique()

print(school_types)

2

In [15]:
# Calculate the total student count per school
per_school_counts=student_data["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data[["school_name","budget"]]
per_school_capita = school_data_single["school_name"]
per_school_capita["student_name"].count()

per_school_budget 
per_school_capita

TypeError: 'method' object is not subscriptable

In [19]:
# Calculate the average test scores per school

per_school_math = school_data_single["math_score"].mean()

per_school_reading = student_data.groupby("school_name")
per_school_reading["reading_score"].mean()

In [20]:
# Calculate the number of students per school with math scores of 70 or higher

passing_math_count = school_data_single[(school_data_single["math_score"] >= 70)]

school_students_passing_math=passing_math_count.groupby("school_name").size()

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

students_passing_math_and_reading = school_data_single[
    (school_data_single["reading_score"] >= 70) & (school_data_single["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [22]:
# Calculate the number of students per school with reading scores of 70 or higher

passing_reading_count = school_data_single[(school_data_single["reading_score"] >= 70)]

school_students_passing_reading=passing_reading_count.groupby("school_name").size()

In [23]:
# Use the provided code to calculate the passing rates

per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [24]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Name",{"School Type":school_types,"Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,"Per Student Budget":per_school_capita,
                                  "Average Math Score":per_school_math,"Average Reading Score":per_school_reading,
                                 "% Passing Math":per_school_passing_math,
                                  "% Passing Reading":per_school_passing_reading," % Overall Passing":overall_passing_rate}})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

NameError: name 'per_school_capita' is not defined

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

# Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

# Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_single[(school_data_single["grade"] == "9th")]
tenth_graders = school_data_single[(school_data_single["grade"] == "10th")]
eleventh_graders = school_data_single[(school_data_single["grade"] == "11th")]
twelfth_graders = school_data_single[(school_data_single["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =pd.DataFrame({"Ninth Grade":ninth_grade_math_scores,"Tenth Grade":tenth_grade_math_scores,
                                    "Eleventh Grade":eleventh_grade_math_scores,"Twelfth Grade":twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_single[(school_data_single["grade"] == "9th")]
tenth_graders = school_data_single[(school_data_single["grade"] == "10th")]
eleventh_graders = school_data_single[(school_data_single["grade"] == "11th")]
twelfth_graders = school_data_single[(school_data_single["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"Ninth Grade":ninth_grade_reading_scores,"Tenth Grade":tenth_grade_reading_scores,
                                        "Eleventh Grade":eleventh_grade_reading_scores,"Twelfth Grade":twelfth_grade_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
#Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
#Create a copy of the school summary since it has the "Per Student Budget"

school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.

school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Spending Ranges (Per Student)": ,"Average Math Score":spending_math_scores ,"Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,"% Passing Reading":spending_passing_reading , "% Overall Passing":overall_passing_spending})

# Display results
spending_summary

# Scores By School Size

In [ ]:
#Establish the bins

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 

size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"School Type":,"Average Math Score":size_math_scores,"Average Reading Score":size_reading_scores,
                             "% Passing Math":size_passing_math,"% Passing Reading":size_passing_reading,
                            "% Overall Passing",size_overall_passing})

# Display results
size_summary

# Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"School Type":,"Average Math Score":average_math_score_by_type,"Average Reading Score":average_reading_score_by_type,
                             "% Passing Math":average_percent_passing_math_by_type,"% Passing Reading":average_percent_passing_reading_by_type,
                            "% Overall Passing",average_percent_overall_passing_by_type})

# Display results
type_summary