In [52]:
#Create dependencies
import pandas as pd
from pathlib import Path

In [53]:
#Find the file we want to summarize
school_data_find = Path("Resources/schools_complete.csv")
student_data_find = Path("Resources/students_complete.csv")

In [54]:
#Read the files and store the data in a panda dataframe
school_data = pd.read_csv(school_data_find)
student_data = pd.read_csv(student_data_find)

In [55]:
#Combine the file into a single set of data
school_data_single = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_single.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [56]:
#Calculate the total number of unique schools

school_count = school_data_single["school_name"].nunique()

print(school_count)

15

In [57]:
# Calculate the total number of students

student_count = school_data_single["student_name"].count()
student_count

39170

In [58]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [59]:
# Calculate the average (mean) math score

average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [60]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [61]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = school_data_single[(school_data_single["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [62]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

passing_reading_count = school_data_single[(school_data_single["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [63]:
# Use the following to calculate the percentage of students that passed math and reading

passing_math_reading_count = school_data_single[
    (school_data_single["math_score"] >= 70) & (school_data_single["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [64]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count],"Total Students":[student_count],"Total Budget":total_budget,
                    "Average Math Score":average_math_score,
                    "Average Reading Score":average_reading_score,"% Passing Math":passing_math_percentage,
                    "% Passing Reading":passing_reading_percentage,"% of Overall Passing":overall_passing_rate})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.6f}".format)
district_summary["% of Overall Passing"] = district_summary["% of Overall Passing"].map("{:,.6f}".format)
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% of Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [65]:
# Use the code provided to select all of the school types

school_types= school_data["type"].nunique()

print(school_types)

2

In [66]:
# Calculate the total student count per school
per_school_counts=student_data["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [67]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data[["school_name","budget"]]
per_school_capita = per_school_budget['budget']/school_data_single["student_name"].count()


per_school_budget 
per_school_capita

0     48.778019
1     48.108527
2     26.974726
3     77.151391
4     23.423538
5     33.688384
6     27.606740
7     79.778606
8      6.333597
9     14.956804
10    26.790911
11    65.033521
12    79.005617
13    45.032321
14    26.630840
Name: budget, dtype: float64

In [68]:
# Calculate the average test scores per school

per_school_math = school_data_single["math_score"].mean()

per_school_reading = student_data.groupby("school_name")
per_school_reading["reading_score"].mean()

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [69]:
# Calculate the number of students per school with math scores of 70 or higher

passing_math_count = school_data_single[(school_data_single["math_score"] >= 70)]

school_students_passing_math=passing_math_count.groupby("school_name").size()

In [70]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

students_passing_math_and_reading = school_data_single[
    (school_data_single["reading_score"] >= 70) & (school_data_single["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [71]:
# Calculate the number of students per school with reading scores of 70 or higher

passing_reading_count = school_data_single[(school_data_single["reading_score"] >= 70)]

school_students_passing_reading=passing_reading_count.groupby("school_name").size()

In [72]:
# Use the provided code to calculate the passing rates

per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [73]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Name",{"School Type":school_types,"Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,"Per Student Budget":per_school_capita,
                                  "Average Math Score":per_school_math,"Average Reading Score":per_school_reading,
                                 "% Passing Math":per_school_passing_math,
                                  "% Passing Reading":per_school_passing_reading," % Overall Passing":overall_passing_rate}})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: unhashable type: 'dict'

# Highest-Performing Schools (by % Overall Passing)

In [35]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(ascending=False)
top_schools.head(5)

Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
dtype: float64

# Bottom Performing Schools (By % Overall Passing)

In [36]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
bottom_schools = overall_passing_rate.sort_values(ascending=True)
bottom_schools.head(5)

Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
dtype: float64

# Math Scores by Grade

In [37]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_single[(school_data_single["grade"] == "9th")]
tenth_graders = school_data_single[(school_data_single["grade"] == "10th")]
eleventh_graders = school_data_single[(school_data_single["grade"] == "11th")]
twelfth_graders = school_data_single[(school_data_single["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =pd.DataFrame({"Ninth Grade":ninth_grade_math_scores,"Tenth Grade":tenth_grade_math_scores,
                                    "Eleventh Grade":eleventh_grade_math_scores,"Twelfth Grade":twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       Ninth Grade  Tenth Grade  Eleventh Grade  Twelfth Grade
Bailey High School       77.083676    76.996772       77.515588      76.492218
Cabrera High School      83.094697    83.154506       82.765560      83.277487
Figueroa High School     76.403037    76.539974       76.884344      77.151369
Ford High School         77.361345    77.672316       76.918058      76.179963
Griffin High School      82.044010    84.229064       83.842105      83.356164
Hernandez High School    77.438495    77.337408       77.136029      77.186567
Holden High School       83.787402    83.429825       85.000000      82.855422
Huang High School        77.027251    75.908735       76.446602      77.225641
Johnson High School      77.187857    76.691117       77.491653      76.863248
Pena High School         83.625455    83.372000       84.328125      84.121547
Rodriguez High School    76.859966    76.612500       76.395626      77.690748
Shelton High School      83.420755    82.917411       83.383495      83.778976
Thomas High School       83.590022    83.087886       83.498795      83.497041
Wilson High School       83.085578    83.724422       83.195326      83.035794
Wright High School       83.264706    84.010288       83.836782      83.644986

# Reading Score by Grade

In [38]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_single[(school_data_single["grade"] == "9th")]
tenth_graders = school_data_single[(school_data_single["grade"] == "10th")]
eleventh_graders = school_data_single[(school_data_single["grade"] == "11th")]
twelfth_graders = school_data_single[(school_data_single["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"Ninth Grade":ninth_grade_reading_scores,"Tenth Grade":tenth_grade_reading_scores,
                                        "Eleventh Grade":eleventh_grade_reading_scores,"Twelfth Grade":twelfth_grade_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

KeyError: "None of [Index(['9th', '10th', '11th', '12th'], dtype='object')] are in the [columns]"

# Scores by School Spending

In [39]:
#Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [40]:
#Create a copy of the school summary since it has the "Per Student Budget"

school_spending_df = per_school_summary.copy()

NameError: name 'per_school_summary' is not defined

In [41]:
# Use `pd.cut` to categorize spending based on the bins.

school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

SyntaxError: invalid syntax (2614266034.py, line 3)

In [42]:
#  Calculate averages for the desired columns. 

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'school_spending_df' is not defined

In [43]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Spending Ranges (Per Student)": ,"Average Math Score":spending_math_scores ,"Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,"% Passing Reading":spending_passing_reading , "% Overall Passing":overall_passing_spending})

# Display results
spending_summary

SyntaxError: expression expected after dictionary key and ':' (4293157688.py, line 2)

# Scores By School Size

In [44]:
#Establish the bins

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [45]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

SyntaxError: invalid syntax (3883193753.py, line 4)

In [46]:
# Calculate averages for the desired columns. 

size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [47]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"School Type":,"Average Math Score":size_math_scores,"Average Reading Score":size_reading_scores,
                             "% Passing Math":size_passing_math,"% Passing Reading":size_passing_reading,
                            "% Overall Passing",size_overall_passing})

# Display results
size_summary

SyntaxError: expression expected after dictionary key and ':' (417530294.py, line 3)

# Scores by School Type

In [48]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [49]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"School Type":,"Average Math Score":average_math_score_by_type,"Average Reading Score":average_reading_score_by_type,
                             "% Passing Math":average_percent_passing_math_by_type,"% Passing Reading":average_percent_passing_reading_by_type,
                            "% Overall Passing",average_percent_overall_passing_by_type})

# Display results
type_summary

SyntaxError: expression expected after dictionary key and ':' (3181276090.py, line 2)